In [59]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from citipy import citipy
import random
import requests as req
import json

In [62]:
apikey="a0f4ad483dfe2b70590d60e151064065"

url="http://api.openweathermap.org/data/2.5/weather?
# api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}

# api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=a0f4ad483dfe2b70590d60e151064065
la=22
lon=120
url1=url+"lat="+str(la)+"&lon="+str(lon)+"&APPID="+apikey
# url1=url+"id=524901&appid="+apikey
weather=req.get(url1).json()
weather1=json.dumps(weather,indent=4)
weather1

'{\n    "cod": 401,\n    "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."\n}'

In [ ]:
url="http://api.openweathermap.org/data/2.5/weather

In [ ]:
url="http://api.openweathermap.org/data/2.5/weather

In [ ]:
url="http://api.openweathermap.org/data/2.5/weather

In [ ]:
url="http://api.openweathermap.org/data/2.5/weather

In [ ]:
url="http://api.openweathermap.org/data/2.5/weather

In [26]:
# api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}
#Create random list of long and latitudesUse Citipy to get list of cities
#lat goes from -/+90 and long goes +/- 180 - take random lat and long and run through citipy to get nearest cities 
latrange=list(np.arange(-90,90,0.01))   #should go to 3 decimal places with coordinates
longrange=list(np.arange(-180,180,0.01))

In [40]:
lat=random.sample(latrange,100)
long=random.sample(longrange,100)

In [44]:
cities=pd.DataFrame({"Latitude":lat,"Longitude":long})
cities["City"]=""
cities["Country"]=""
cities.head()

   Latitude  Longitude City Country
0     30.74      17.88
1    -34.11     -34.44
2    -31.06     -82.90
3    -65.22    -170.84
4    -54.89     150.45

In [43]:
for index in range(len(cities.index)):
    lati=cities.at[index,"Latitude"]
    longi=cities.at[index,"Longitude"]
    city=citipy.nearest_city(lati,longi)
    cities.at[index,"City"]=city.city_name
    cities.at[index,"Country"]=city.country_code
cities.head()

   Latitude  Longitude             City Country
0     30.74      17.88             surt      ly
1    -34.11     -34.44  arraial do cabo      br
2    -31.06     -82.90       talcahuano      cl
3    -65.22    -170.84            vaini      to
4    -54.89     150.45           hobart      au

In [47]:
# api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}
#Pull from open weather api to collect more data for each
cities["Wind Speed"]=""
cities["Cloudiness"]=""
cities["Humidity"]=""
cities["Wind Speed"]=""

In [ ]:
# response=req.get(url+"address="+cities_pd["City"][index]+",+"+cities_pd["State"][index]+"&key="+gkey).json()
# for index in range(len(cities.index)):
#     weather=req.get(url)